
.banner-img {
    background-image: url('https://github.com/job4jobless/Images/blob/main/Banners/Employer-bottom-banner52.jpg?raw=true');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  @media screen and (max-width: 768px) {
    .box-1 h1,h3{
      font-size: 1rem!important;
    }
    .cus-w{
      max-width: 100%!important;
    }
  }
