<section
  class="applied-user pt-4 pb-5"
  style="background-color: var(--background-color)"
>
  <!-- ---top-section---- -->
  <div class="container mt-4 p-0" style="max-width: 60%">
    <div
      class="d-flex justify-content-between align-items-center flex-wrap"
      style="gap: 12px"
    >
      <!-- Heading with Dynamic Icon -->
      <div class="d-flex align-items-center">
     
        <h2
          class="mb-3 mb-md-0 fw-bolder fs-1"
          style="color: var(--primary-color)"
        >
          {{ heading }}
        </h2>
      </div>

      <!-- Search Bar -->
      <div class="cus-width position-relative w-50">
        <input
          type="search"
          id="form1"
          class="form-control border-0"
          [placeholder]="'Search ' + heading"
          aria-label="'Search ' + heading"
          style="border-radius: 35px; padding: 25px"
        />
        <i
          class="fas fa-search position-absolute"
          style="
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            color: var(--primary-color);
          "
        ></i>
      </div>
    </div>
  </div>

  <!-- ----filters-section----- -->
  <div class="container mt-5" style="padding-left: 2rem">
    <div
      class="d-flex justify-content-start flex-wrap gap-3"
      style="padding-left: 0.5rem"
    >
      <!-- Filters -->
      <button
        class="btn bg-white d-flex align-items-center gap-2"
        style="border: 2px solid gainsboro"
        (click)="filterApplications('all')"
      >
        <i class="bi bi-people-fill"></i> All Applications
      </button>
      <button
        class="btn bg-white d-flex align-items-center gap-2"
        style="border: 2px solid gainsboro"
        (click)="filterApplications('selected')"
      >
        <i class="bi bi-check-circle-fill" style="color: green"></i> Selected
      </button>
      <button
        class="btn bg-white d-flex align-items-center gap-2"
        style="border: 2px solid gainsboro"
        (click)="filterApplications('rejected')"
      >
        <i class="bi bi-x-circle-fill" style="color: red"></i> Rejected
      </button>
      <button
        class="btn bg-white d-flex align-items-center gap-2"
        style="border: 2px solid gainsboro"
        (click)="filterApplications('reviewed')"
      >
        <i class="bi bi-check-circle fw-bolder" style="color: yellow"></i>
        Reviewed
      </button>
      <button
        class="btn bg-white d-flex align-items-center gap-2"
        style="border: 2px solid gainsboro"
        (click)="filterApplications('waiting')"
      >
        <i class="bi bi-clock-fill"></i> Waiting
      </button>
    </div>

    <div class="mt-5">
      <div class="row g-4">
        <div
          *ngFor="let application of filteredApplications"
          class="col-md-4 col-sm-12 mb-4"
        >
          <div
            class="card p-4 border-0 position-relative"
            style="border-radius: 17px"
          >
            <!-- Status Icon -->
            <div
            class="position-absolute top-0 end-0 m-3"
            *ngIf="application.status"
            [ngClass]="{
              'text-success': application.status === 'selected',
              'text-danger': application.status === 'rejected',
              'text-warning': application.status === 'reviewed',
              'text-primary': application.status === 'waiting'
            }"
          >
            <i
              class="bi"
              [ngClass]="{
                'bi-check-circle-fill': application.status === 'selected',
                'bi-x-circle-fill': application.status === 'rejected',
                'bi-check-circle': application.status === 'reviewed',
                'bi-clock-fill': application.status === 'waiting'
              }"
              style="font-size: 1.5rem"
            ></i>
          </div>
          
          

            <!-- Card Content -->
            <div class="d-flex justify-content-between align-items-center">
              <!-- Card Header -->
              <div>
                <h4
                  class="fw-bolder"
                  style="color: var(--primary-color); margin-bottom: 0"
                >
                  Account Executive
                </h4>
                <p class="mb-0 text-muted text-center">
                  {{ application.company }}
                </p>
              </div>
            </div>

            <!-- Card Body -->
            <div class="row mt-3">
              <div class="col-12">
                <div class="d-flex flex-wrap">
                  <div class="w-100 mb-1">
                    <strong>Name </strong>
                    <span class="" style="padding-left: 2rem">{{
                      application.name
                    }}</span>
                  </div>
                  <div class="w-100 mb-1">
                    <strong>Email </strong>
                    <span style="padding-left: 2rem">{{
                      application.email
                    }}</span>
                  </div>
                  <div class="w-100 mb-1">
                    <strong>Resume </strong>
                    <span style="padding-left: 1rem">{{
                      application.resume
                    }}</span>
                  </div>
                </div>
              </div>
            </div>

            <!-- Buttons Row -->
            <div class="row mt-3">
              <div
                class="col-12 d-flex justify-content-start flex-wrap cus-gap"
              >
                <button
                  class="btn btn-sm dropdown-toggle flex-grow-1 fs-5"
                  style="
                    background-color: var(--background-color);
                    color: var(--primary-color);
                    border-radius: 0;
                  "
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  (click)="filterApplications(application.status)"
                >
                  {{ application.status | titlecase }}
                </button>
                <button
                  class="btn btn-sm text-white"
                  style="
                    background-color: var(--primary-color);
                    border-radius: 0;
                  "
                >
                  Update
                </button>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-12 d-flex justify-content-start flex-wrap gap-3">
                <button
                  class="btn text-white"
                  style="background-color: var(--primary-color)"
                >
                  <i class="fas fa-envelope text-white"></i> Message
                </button>
                <button
                  class="btn text-white"
                  style="background-color: var(--primary-color)"
                >
                  <i class="fas fa-video text-white"></i> Video Call
                </button>
              </div>
              <div class="col-12 mt-3">
                <button
                  class="btn text-white w-100"
                  (click)="toggleInfo(application)"
                  style="background-color: var(--primary-color)"
                >
                  {{ showFullInfo[application.id] ? "Less Info" : "More Info" }}
                </button>
              </div>
            </div>

            <!-- Additional Info -->
            <div *ngIf="showFullInfo[application.id]" class="mt-3">
              <hr />
              <p class="mb-0">Full details displayed here.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- --last-btn-- -->
  <div class="d-flex flex-wrap justify-content-center mt-3" style="gap: 12px">
    <!-- PREV Button -->
    <button
      class="btn text-white btn-secondary fw-bold"
      (click)="goToPrevPage()"
      style="padding-left: 4rem; padding-right: 4rem"
    >
      PREV
    </button>

    <!-- NEXT Button -->
    <button
      class="btn text-white fw-bold"
      (click)="goToNextPage()"
      style="
        background-color: var(--primary-color);
        padding-left: 4rem;
        padding-right: 4rem;
      "
    >
      NEXT
    </button>
  </div>
  
</section>
