<div class="center-container">
  <div class="container-fluid px-0">
    <nav
      class="navbar navbar-expand-lg navbar-light d-flex justify-content-between align-items-center"
    >
      <a routerlink="/" class="navbar-brand" href="/">
        <img
          src="https://raw.githubusercontent.com/suraj9594/J4J-Website-Images/main/j4j%20Header%20logo.png"
          width="200"
          class="image-thumbnail d-inline-block align-top"
        />
      </a>

      <button
      type="button"
      class="navbar-toggler"
      (click)="toggleNavbar()"
      aria-controls="navbarSupportedContent"
      [attr.aria-expanded]="!isCollapsed"
      aria-label="Toggle navigation"
    >
      <i class="fa-solid fa-bars-staggered"></i>
    </button>

      <div
        id="navbarSupportedContent"
        class="collapse navbar-collapse justify-content-end gap-3 "[ngClass]="{'show': !isCollapsed}"
      >
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              routerlinkactive="active"
              aria-current="page"
              routerlink="/findjobs"
              class="nav-link"
              href="/findjobs"
              >Find Jobs</a
            >
          </li>
          <li class="nav-item">
            <a
              routerlinkactive="active"
              aria-current="page"
              routerlink="/findjobs"
              class="nav-link"
              href="/findjobs"
              >Services</a
            >
          </li>
          <li class="nav-item">
            <a
              routerlinkactive="active"
              aria-current="page"
              routerlink="/blogs"
              class="nav-link"
              href="/blogs"
              >Blogs</a
            >
          </li>
          <li class="nav-item">
            <a
              routerlinkactive="active"
              aria-current="page"
              routerlink="/employer"
              target="_blank"
              class="nav-link"
              href="/employer"
              >Employer</a
            >
          </li>
        </ul>

        <button
          type="button"
          routerLink="/login-page"
          class="btn btn-custom rounded-pill btn head-btn"
          tabindex="0"
        >
          Start Job Hunting
          <span class="mx-2"><i class="fa-solid fa-chevron-right"></i></span>
        </button>
      </div>
    </nav>
  </div>
</div>
