* {
    margin: 0;
}
.head-btn {
    background: #1E2D5B;
    color: white;
    border-radius: 5px !important;
    padding: 12px;
}
.navbar-collapse {
    transition: max-height 0.35s ease;
  }
  .collapse:not(.show) {
    display: none;
  }
.navbar{
    background-color: white;
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
}

@media (max-width: 768px) {
    .navbar-nav .nav-link {
        padding-left: 15px;
    }
    .head-btn {
        margin-left: 12px;
    }
}
@media (min-width: 992px) {
    .center-container {
      margin: 0 auto; 
      max-width: 1200px;
    }
  }

