<div class="center-container">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a routerlink="/" class="navbar-brand" href="/"
        ><img
          src="https://raw.githubusercontent.com/suraj9594/J4J-Website-Images/main/j4j%20Header%20logo.png"
          width="200"
          class="image-thumbnail d-inline-block align-top" /></a
      ><button
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        class="navbar-toggler"
      >
        <i class="fa-solid fa-bars-staggered"></i>
      </button>
      <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              routerlinkactive="active"
              aria-current="page"
              routerlink="/findjobs"
              class="nav-link"
              href="/findjobs"
              >Find Jobs</a
            >
          </li>
          <li class="nav-item">
            <a
              routerlinkactive="active"
              aria-current="page"
              routerlink="/findjobs"
              class="nav-link"
              href="/findjobs"
              >Services</a
            >
          </li>
          <li class="nav-item">
            <a
              routerlinkactive="active"
              aria-current="page"
              routerlink="/blogs"
              class="nav-link"
              href="/blogs"
              >Blogs</a
            >
          </li>
          <li class="nav-item">
            <a
              routerlinkactive="active"
              aria-current="page"
              routerlink="/employer"
              target="_blank"
              class="nav-link"
              href="/employer"
              >Employer</a
            >
          </li>

    
        </ul>
        <!---->
        <button
          type="button"
          routerLink="/login-page"
          class="btn btn-custom rounded-pill btn head-btn"
          tabindex="0"
        >
          Start Job Hunting
          <span class="mx-2"
            ><i class="fa-solid fa-chevron-right"></i
          ></span></button
        >
        <!---->
      </div>
    </div>
  </nav>
  <!---->
</div>
