* {
    margin: 0;
}
.nav-link {
  color: var(--text-color);;
}
  .collapse:not(.show) {
    display: none;
  }
@media (max-width: 768px) {
    .navbar-nav .nav-link {
        padding-left: 15px;
    }
    ul.nav {
      display: flex;
      flex-direction: column;
  }
    .head-btn {
        margin-left: 12px;
    }
}
@media (min-width: 992px) {
    .center-container {
      margin: 0 auto; 
      max-width: 1200px;
    }
  }
  @media (min-width: 768px) and (max-width: 990px) {
    .navbar-nav .nav-link {
      padding-left: 15px;
  }
  ul.nav {
    display: flex;
    flex-direction: column;
}
  .head-btn {
      margin-left: 12px;
  }
}