<footer class="container-fluid footer">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="text-center">
          <!-- <img src="assets/Job4jobless_logo.png" alt="Company Logo" class="img-fluid" style="max-width: 80%;"> -->
          <img
            src="https://raw.githubusercontent.com/suraj9594/J4J-Website-Images/main/j4j%20Header%20logo.png"
            alt="Company Logo"
            class="img-fluid"
            style="max-width: 50%"
          />
        </div>
      </div>
      <div class="col-md-2">
        <h6 class="fw-bold">Pages</h6>
        <ul class="list-unstyled">
          <li><a (click)="scrollToTop()" routerLink="/home">Home</a></li>
          <li>
            <a (click)="scrollToTop()" routerLink="/about-us">About Us</a>
          </li>
          <li>
            <a (click)="scrollToTop()" routerLink="/contact-us">Contact Us</a>
          </li>
          <li><a (click)="scrollToTop()" routerLink="/blogs">Blogs</a></li>
          <li>
            <a (click)="scrollToTop()" routerLink="/privacy-policy"
              >Privacy Policy</a
            >
          </li>
          <li><a (click)="scrollToTop()" routerLink="">Find Job</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h6 class="fw-bold">Contact Us</h6>
        <div class="address-details">
          <div class="contact-details">
            <p class="fs-5">Address:</p>
            <p>
              2615A-2616, 26th FLOOR, SUPERNOVA ASTRALIS, SECTOR-94, NOIDA,
              UTTAR PRADESH - 201301
            </p>
          </div>
          <div class="contact-details">
            <p class="fs-5">Email:</p>
            <a
              href="mailto:info&#64;job4jobless.com"
              class="text-decoration-none"
              >inf&#64;job4jobless.com</a
            >
            <p class="fs-5">Contact No. :</p>
            <a href="tel:+919958360795" class="text-decoration-none"
              >+91 9958360795</a
            >,
            <a href="tel:+01204244775" class="text-decoration-none"
              >0120-4244775</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <h6 class="fw-bold">Social Media</h6>
        <ul
          class="social-list list-unstyled d-flex flex-wrap justify-content-center"
        >
          <li class="col-4 d-none d-md-block text-center mb-3">
            <a href="https://www.facebook.com/profile.php?id=61555763121261">
              <i class="fa-brands fa-facebook fa-2x" style="color: #3b5998"></i>
            </a>
          </li>
          <li class="col-4 d-none d-md-block text-center mb-3">
            <a
              href="https://twitter.com/Job4Jobless"
              class="text-decoration-none"
            >
              <i
                class="fa-brands fa-x-twitter fa-2x"
                style="color: #000000"
              ></i>
            </a>
          </li>
          <li class="col-4 d-none d-md-block text-center mb-3">
            <a
              href="https://www.linkedin.com/company/99274968/admin/feed/posts/"
            >
              <i class="fa-brands fa-linkedin fa-2x" style="color: #0077b5"></i>
            </a>
          </li>
          <li class="col-4 d-none d-md-block text-center mb-3">
            <a href="javascript:void(0);" (click)="sendWhatsAppMessage()">
              <i class="fa-brands fa-whatsapp fa-2x" style="color: #25d366"></i>
            </a>
          </li>
          <li class="col-4 d-none d-md-block text-center mb-3">
            <a href="https://www.instagram.com/job4jobless/">
              <i
                class="fa-brands fa-instagram fa-2x"
                style="color: #c13584"
              ></i>
            </a>
          </li>
          <li class="col-4 d-none d-md-block text-center mb-3">
            <a href="https://www.pinterest.com/job4jobless/">
              <i
                class="fa-brands fa-pinterest fa-2x"
                style="color: #bd081c"
              ></i>
            </a>
          </li>
          <!-- For mobile view, add all icons in a single row -->
          <li class="col-12 d-md-none text-center mb-3">
            <a href="https://www.facebook.com/profile.php?id=61555763121261">
              <i class="fa-brands fa-facebook fa-2x" style="color: #3b5998"></i>
            </a>
          </li>
          <li class="col-12 d-md-none text-center mb-3">
            <a
              href="https://twitter.com/Job4Jobless"
              class="text-decoration-none"
            >
              <i
                class="fa-brands fa-x-twitter fa-2x"
                style="color: #000000"
              ></i>
            </a>
          </li>
          <li class="col-12 d-md-none text-center mb-3">
            <a
              href="https://www.linkedin.com/company/99274968/admin/feed/posts/"
            >
              <i class="fa-brands fa-linkedin fa-2x" style="color: #0077b5"></i>
            </a>
          </li>
          <li class="col-12 d-md-none text-center mb-3">
            <a href="javascript:void(0);" (click)="sendWhatsAppMessage()">
              <i class="fa-brands fa-whatsapp fa-2x" style="color: #25d366"></i>
            </a>
          </li>
          <li class="col-12 d-md-none text-center mb-3">
            <a href="https://www.instagram.com/job4jobless/">
              <i
                class="fa-brands fa-instagram fa-2x"
                style="color: #c13584"
              ></i>
            </a>
          </li>
          <li class="col-12 d-md-none text-center mb-3">
            <a href="https://www.pinterest.com/job4jobless/">
              <i
                class="fa-brands fa-pinterest fa-2x"
                style="color: #bd081c"
              ></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center mt-3 box p-3">
    <p class="m-0">
      CopyRight &#64;2023 <span style="font-weight: bold">job4jobless</span>.
      All Rights Reserved.
    </p>
    <p>
      <a routerLink="/terms" target="_blank" style="color: #007bff"
        >Terms & Conditions</a
      >
    </p>
  </div>
</footer>
