.footer a:hover {
  color: #0056b3;
}
ul.social-list{
  margin-left: -1rem;
}
.contact-details p {
  margin-bottom: 5px;
}
.footer   a {
  color: var(--text-color);;
  text-decoration: none;
}
.non-bold-text {
  font-weight: normal;
}
@media screen and (max-width: 758px) {
  ul.social-list{
    display: block !important;
    column-count: 6 !important;
  }
}
