<section class="emp-body">
  <div
    class="banner mw-100 mt-5"
    style="
      background-color: #1e2d5b;
      height: fit-content;
      padding-bottom: 4rem;
      margin-bottom: 4rem;
    "
  >
    <div class="container">
      <div class="row w-75" style="padding-top: 4rem">
        <div class="col">
          <h2>Want To Fill Your</h2>
          <h1 style="font-size: 4rem">Job Faster? </h1>
        </div>
        <div class="col">
          <h1 class="" style="color: #00ffff; font-size: 5rem">Sponsor it.</h1>
        </div>
      </div>
    </div>

    <p class="text-center pt-3" style="color: white">
      Sponsored Jobs are over 4.5X more likely to result in a hire.<br />
      Pick the daily budget that works for you pay only for people clicking on
      your post.
    </p>
  </div>

  <div class="body-content">
    <h1 style="color: #2f3847; font-weight: bolder" class="text-center">
      We Bring Best Talent To Your Company
    </h1>
    <h4
      style="line-height: 6rem; color: #1e2d5b; font-size: 33px"
      class="text-center"
    >
      Our Features
    </h4>

    <div class="container">
      <div class="row row-w" style="width: 65%; margin: auto">
        <div class="col-md-6 mt-3 custom-right" style="padding-right: 1.5rem">
          <div class="card border-0" style="background: #ebf3fe">
            <img
              src="https://media.istockphoto.com/id/941329264/photo/termination-of-employment-on-an-office-desk.jpg?s=2048x2048&w=is&k=20&c=6GZNlJVj5rk4TMuEj6hTVhx97RJ4gqAggl0MnrYjj54="
              class="card-img-top w-100"
              alt="..."
            />
            <div class="card-body text-center">
              <h4 class="text-center" style="color: #1e2d5b">
                 Instant Video Call Interviews
              </h4>
              <p class="card-text pt-4" style="color: #2f3847">
                Conduct virtual interviews with unique OTP and eliminate
                in-person meetings. Streamline and simplify scheduling and
                enhance end-to-end communication with candidates. 
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 mt-3">
          <div class="card border-0" style="background: #ebf3fe">
            <img
              src="https://media.istockphoto.com/id/941329264/photo/termination-of-employment-on-an-office-desk.jpg?s=2048x2048&w=is&k=20&c=6GZNlJVj5rk4TMuEj6hTVhx97RJ4gqAggl0MnrYjj54="
              class="card-img-top w-100"
              alt="..."
            />
            <div class="card-body text-center">
              <h4 class="text-center" style="color: #1e2d5b">
                Advanced Searching
              </h4>
              <p class="card-text pt-4" style="color: #2f3847">
                With Job4Jobless, you gain access to a vast talent pool, and
                advanced search tools, helping you build a strong team.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5" style="margin-bottom: 6rem">
      <div class="row row-wt" style="width: 35%; margin: auto">
        <div class="col">
          <div class="card border-0 cards" style="background: #ebf3fe">
            <img
              src="https://media.istockphoto.com/id/941329264/photo/termination-of-employment-on-an-office-desk.jpg?s=2048x2048&w=is&k=20&c=6GZNlJVj5rk4TMuEj6hTVhx97RJ4gqAggl0MnrYjj54="
              class="card-img-top w-100"
              alt="..."
            />
            <div class="card-body text-center">
              <h4 class="text-center" style="color: #1e2d5b">
                 Instant Video Call Interviews
              </h4>
              <p class="card-text pt-4" style="color: #2f3847">
                Conduct virtual interviews with unique OTP and eliminate
                in-person meetings. Streamline and simplify scheduling and
                enhance end-to-end communication with candidates. 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <app-bottom-banner></app-bottom-banner> -->
