
h1,h2{
    color: white;
    line-height: 0.9;  
}
.card {
    border-radius: 15px;
    aspect-ratio: 2 / 2.5; 
}
.card-img-top{
    border-radius: 15px;
    border-bottom-left-radius: 0; 
}
.cards{
    aspect-ratio: 0 !important;
}

@media (max-width: 768px) {
.row-w {
    width: 100%!important;
}
.row-wt {
    width: 56%!important;
}
.card {
    aspect-ratio: 1 / 1.55;
}
}

  @media screen and (max-width: 1024px) {
    .card {
      aspect-ratio: 2/3.553!important;
  }
  }
  @media (max-width: 576px) {
    .row-w {
        width: 100%!important;
    }
    .card {
        aspect-ratio: 0 !important;
    }
    .custom-right{
        padding-right: 0.5rem!important;
    }
    .row-wt {
        width: 100%!important;
    }
  }