<!-- <section class="search-box">
  <div class="fxt-txt text-center mt-3 box p-3">
    <h1 class="m-0 mb-5 mt-4 fw-bolder" style="color: var(--primary-color)">
      Explore The Right Career Path
    </h1>
    <h4 class="mb-3 fw-bolder" style="font-size: 33px">Our Features</h4>
  </div>

  <div class="container" style="padding: 3.5rem; padding-top: 0rem">
    <div class="row justify-content-center d-flex align-items-stretch">
   
      <div class="col-12 col-md-8 d-flex flex-column">

        <div class="col-12">
          <div
            class="card mx-auto"
            style="
              padding: 0;
              box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
              border: none;
            "
          >
            <div class="text-center" style="width: 100%; height: 100%">
              <img
                src="https://github.com/job4jobless/Images/blob/main/Temperory/Video%20Calling.png?raw=true"
                class="card-img-top img-fluid"
                alt="Video Calling"
                style="width: 100%; height: 100%; object-fit: cover"
              />
              <a
                href="#"
                class="btn text-white pb-0"
                style="
                  background-color: var(--primary-color);
                  margin-top: -1rem;
                  font-size: 1rem;
                "
              >
                <h5>Video Calling</h5>
              </a>
            </div>
            <div class="card-body text-center">
              <p class="card-text pt-4">
                Making interviews more convenient with direct end-to-end video
                calls.
              </p>
            </div>
          </div>
        </div>

 
        <div class="row mt-4 g-3 w-100" style="padding-left: 1rem">
          <div class="col-12 col-md-4">
            <div
              class="card text-center"
              style="
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                border: none;
              "
            >
              <div class="text-center">
                <img
                  src="https://github.com/job4jobless/Images/blob/main/Temperory/Video%20Calling.png?raw=true"
                  class="card-img-top img-fluid"
                  alt="Create Resume"
                  style="width: 100%; height: 100%; object-fit: cover"
                />
                <a
                  href="#"
                  class="btn text-white pb-0"
                  style="
                    background-color: var(--primary-color);
                    margin-top: -1rem;
                    font-size: 1rem;
                  "
                >
                  <h5>Create Resume</h5>
                </a>
              </div>
              <div class="card-body">
                <p class="card-text pt-4">
                  Easily create or update your ATS-friendly resume in just a few
                  clicks.
                </p>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-4">
            <div
              class="card text-center"
              style="
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                border: none;
              "
            >
              <div class="text-center">
                <img
                  src="https://github.com/job4jobless/Images/blob/main/Temperory/Video%20Calling.png?raw=true"
                  class="card-img-top img-fluid"
                  alt="Job Search"
                  style="width: 100%; height: 100%; object-fit: cover"
                />
                <a
                  href="#"
                  class="btn text-white pb-0"
                  style="
                    background-color: var(--primary-color);
                    margin-top: -1rem;
                    font-size: 1rem;
                  "
                >
                  <h5>Job Search</h5>
                </a>
              </div>
              <div class="card-body">
                <p class="card-text pt-4">
                  Simplify your job search with our efficient and streamlined
                  platform.
                </p>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-4">
            <div
              class="card text-center"
              style="
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                border: none;
              "
            >
              <div class="text-center">
                <img
                  src="https://github.com/job4jobless/Images/blob/main/Temperory/Video%20Calling.png?raw=true"
                  class="card-img-top img-fluid"
                  alt="Blogs"
                  style="width: 100%; height: 100%; object-fit: cover"
                />
                <a
                  href="#"
                  class="btn text-white pb-0"
                  style="
                    background-color: var(--primary-color);
                    margin-top: -1rem;
                    font-size: 1rem;
                  "
                >
                  <h5>Blogs</h5>
                </a>
              </div>
              <div class="card-body">
                <p class="card-text pt-4">
                  Contribute to the professional community by sharing blogs or
                  articles.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

  
      <div class="col-12 col-md-4 d-flex flex-column" style="height: 100%">

        <div
          class="card text-center mb-3"
          style="
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            border: none;
            flex: 1;
          "
        >
          <div class="text-center">
            <img
              src="https://github.com/job4jobless/Images/blob/main/Temperory/Video%20Calling.png?raw=true"
              class="card-img-top img-fluid"
              alt="Card 1"
              style="width: 100%; height: 100%; object-fit: cover"
            />
            <a
              href="#"
              class="btn text-white pb-0"
              style="
                background-color: var(--primary-color);
                margin-top: -1rem;
                font-size: 1rem;
              "
            >
              <h5>About Us</h5>
            </a>
          </div>
          <div class="card-body">
            <p class="card-text pt-4">
              Get customizable job alerts and never miss out on the right
              opportunity.
            </p>
          </div>
        </div>


        <div
          class="card text-center"
          style="
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            border: none;
            flex: 1;
          "
        >
          <div class="text-center">
            <img
              src="https://github.com/job4jobless/Images/blob/main/Temperory/Video%20Calling.png?raw=true"
              class="card-img-top img-fluid"
              alt="Card 2"
              style="width: 100%; height: 100%; object-fit: cover"
            />
            <a
              href="#"
              class="btn text-white pb-0"
              style="
                background-color: var(--primary-color);
                margin-top: -1rem;
                font-size: 1rem;
              "
            >
              <h5>Personalized Alerts</h5>
            </a>
          </div>
          <div class="card-body">
            <p class="card-text pt-4">
              Stay updated with the latest job openings that match your skills
              and preferences.
            </p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section> -->
