<section class="profile">
  <div class="container-fluid vh-100">
    <div class="row h-100">
      <!-- Sidebar -->
      <div
        class="col-md-2 cus-class pt-5 text-white d-flex flex-column p-3 d-none d-md-flex mb-0"
        style="min-height: 100%; background-color: var(--primary-color)"
      >
        <div class="list-group d-flex flex-grow-1 p-0 m-0" style="gap: 2rem">
          <a
            *ngFor="let item of sidebarItems"
            (click)="selectItem(item.title)"
            [ngClass]="{
              'active text-white hover-effect-selected':
                selectedItem === item.title
            }"
            class="list-group-item text-white list-group-item-action border-0 p-0 m-0"
            style="cursor: pointer"
          >
            <i [class]="item.icon" class="me-2" style="color: white"></i>
            {{ item.title }}
          </a>
        </div>
      </div>

      <!-- Bottom Navbar for Small Screens -->
      <div
        class="d-flex flex-wrap d-md-none fixed-bottom text-white justify-content-around py-2"
        style="background-color: var(--primary-color); color: white"
      >
        <a
          *ngFor="let item of sidebarItems"
          (click)="selectItem(item.title)"
          [ngClass]="{ 'active text-white': selectedItem === item.title }"
          class="text-white text-center me-2 mb-3"
          style="cursor: pointer; color: rgb(255, 255, 255)"
        >
          <i [class]="item.icon" class="d-block" style="color: white"></i>
          <small style="color: white">{{ item.title }}</small>
        </a>
      </div>

      <!-- Main Content -->
      <div
        class="col-md-10 p-4 cus-pad"
        style="background-color: var(--background-color); min-height: 100%"
      >

        <div
          *ngIf="currentComponent !== 'SendNotification'&& currentComponent1 !== 'SendNotification'  && currentComponent !== 'edit-account' "
          class="top-items d-flex flex-wrap align-items-center justify-content-between"
        >
          <!-- Name -->
          <h1
          
            class="fw-bold mb-4 pt-3 pb-3 m-0"
            style="color: var(--primary-color)"
          >
            {{ selectedHeading }}
          </h1>
          <!-- Search Bar -->
          <div
            class="search-bar mb-3 d-flex bg-white m-0"
            style="
              border: 2px solid #dee2e6;
              border-radius: 8px;
              padding: 4px 20px;
            "
          >
            <!-- Your search bar input here -->
            <input
              type="text"
              class="form-control border-0"
              placeholder="Search..."
              style="
                border-right: 2px solid #dee2e6 !important;
                border-radius: 0;
              "
            />
            <i
              class="fas fa-search ms-2"
              style="color: var(--primary-color); cursor: pointer"
            ></i>
          </div>
        </div>
        <div *ngIf="selectedItem === 'Dashboard'">
          <!-- Dashboard Profile Component -->
          <app-dashboard></app-dashboard>
        </div>
        <!-- Job Finder Profile Component -->
        <div
          *ngIf="
            currentComponent === 'JobFinderProfile' &&
            selectedItem === 'Job Finder Profile'
          "
        >
          <app-job-finder-profile
            (changeComponent)="switchComponent($event)"
          ></app-job-finder-profile>
        </div>

        <!-- Send Notification Component -->
        <div *ngIf="currentComponent === 'SendNotification'">
          <app-send-notification></app-send-notification>
        </div>

        <!-- Company Details Component -->
        <div *ngIf="selectedItem === 'Company Details' && currentComponent1 === 'CompanyDetails' ">
          <app-company-details  (changeComponent)="switchComponent1($event)"></app-company-details>
        </div>
       <!-- Send Notification Component -->
       <div *ngIf="currentComponent1 === 'SendNotification'">
        <app-send-notification></app-send-notification>
      </div>
        <div *ngIf="selectedItem === 'Jobs Provided'">
          <!-- Jobs Provided Component -->
          <app-job-provided></app-job-provided>
        </div>
        <div *ngIf="selectedItem === 'Enquiry Details'">
          <!-- Enquiry Details Component -->
          <app-enquiry-details></app-enquiry-details>
        </div>
        <div *ngIf="selectedItem === 'Create Sub Admin'">
          <!-- Create Sub Admin Component -->
          <app-create-sub-admin></app-create-sub-admin>
        </div>
        <div *ngIf="selectedItem === 'Sub Admin Details'">
          <!-- Sub Admin Details Component -->
          <app-sub-admin-details></app-sub-admin-details>
        </div>
        <div *ngIf="selectedItem === 'Push Notification'">
          <!-- Push Notification Component -->
          <app-push-notification></app-push-notification>
        </div>
        <div *ngIf="selectedItem === 'Blogs'">
          <!-- Blogs Component -->
          <app-blogs></app-blogs>
        </div>
        <div *ngIf="selectedItem === 'Logout'">
          <!-- Logout Component -->
          <app-admin-logout></app-admin-logout>
        </div>
      </div>
    </div>
  </div>
</section>
