<main>
  <!-- <div class="container-fluid">

    <div class="banner-text" style="padding-top: 1.5rem">
      <div
        class="content-box d-flex align-items-center justify-content-center"
        style="gap: 5rem"
      >
        <div
          class="form-control w-50 d-flex justify-content-center align-items-baseline"
        >
     
          <input
            type="search"
            placeholder="Job Title, Skils, Company, Designation etc"
          />

          <input type="search" placeholder="location" />
          <button class="btn head-btn m-2 p-2" type="submit">Find Jobs</button>
        </div>
        <div class="text">
          <p class="txt-para">
            <span>Get Your </span> <br />
            <span style="color: aquamarine; margin-left: -1rem"
              >Dream Job
            </span>
            <br />
            <span> With Us.</span>
          </p>
        </div>
      </div>
    </div>
  </div> -->

  <!-- --grid-- -->
  <div class="banner-text" style="padding-top: 1.5rem">
    <div class="container">
      <div class="row g-3">
        <div class="col-12 col-md-8 d-flex box">
          <input
            type="search"
            class="no-border-input"
            placeholder="Job Title, Skils, Company, Designation etc"
          />
          <input type="search" placeholder="location" class="no-border-input" />
          <button class="btn head-btn m-2 p-2" type="submit">Find Jobs</button>
        </div>

        <div class="col-12 col-md-4">
          <div class="text">
            <p class="txt-para">
              <span>Get Your </span> <br />
              <span style="color: aquamarine; margin-left: -1rem"
                >Dream Job
              </span>
              <br />
              <span> With Us.</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<app-searchbox></app-searchbox>
<app-feature> </app-feature>
