
.no-border-input {
    border: none;
    outline: none; 
    flex: 1;
}
.flex-box input:nth-child(2) {
    border-left: 1px solid #e2dada;
}
@media (max-width: 768px) {
    .flex-box input:nth-child(2){
        border-top: 1px solid #e2dada!important;
    }
}
@media (max-width: 990px) {
    .flex-box {
        flex-wrap: wrap;
    }
    .no-border-input {
        flex: 1 1 45%; 
        margin-bottom: 10px;
        min-width: 0; 
    }
    .custom-width{
        width: 100%!important;
        text-align: center !important;
    }
    .head-btn{
        width: 100%;
        margin: auto!important;
    }
    .flex-box input:nth-child(2){
        border-left: none!important;
    }
}