<div class="banner-img position-relative text-white  mb-5">
  <img
    src="https://github.com/job4jobless/Images/blob/main/Banners/Employer-bottom-banner52.jpg?raw=true"
    alt="Banner Image"
    class="img-fluid w-100"
    style="height: auto;"
  />
  <!-- Centered text overlay -->
  <div
    class="elements position-absolute top-50 start-50 translate-middle text-center d-flex flex-column justify-content-center align-items-center w-100 px-3"
    style="color: var(--secondary-color);"
  >
    <h1 class="fs-1 fw-bolder d-none d-md-block m-0" style="line-height: 1.5;">
      Simplifying Job Search
    </h1>
    <h5 class="d-none d-md-block text-white m-0" style="line-height: 1.5;">
      Fueling Careers, Building Futures...
    </h5>
    <!-- Smaller text for mobile -->
    <h1 class="fs-4 fw-bolder d-md-none m-0" style="line-height: 1.2;color: var(--secondary-color)!important;">
      Simplifying Job Search
    </h1>
    <h5 class="fw-normal d-md-none text-white m-0" style="line-height: 1.2;">
      Fueling Careers, Building Futures...
    </h5>
  </div>
</div>

<app-about-content></app-about-content>
