<section class="blog-banner">
  <div class="banner-img position-relative text-white ">
    <img
      src="https://github.com/job4jobless/Images/blob/main/Banners/Employer-bottom-banner52.jpg?raw=true"
      alt="Banner Image"
      class="img-fluid w-100"
      style="height: auto"
    />
    <!-- Centered text overlay -->
    <div
      class="elements position-absolute top-50 start-50 translate-middle text-center d-flex flex-column justify-content-center align-items-center w-100 px-3"
      style="color: var(--secondary-color)"
    >
      <h1
        class="fs-1 fw-bolder d-none d-md-block m-0"
        style="line-height: 1.5; font-size: 4rem !important"
      >
      CAREER
        <span
          class="text-white fw-bolder fs-1"
          style="font-size: 4rem !important"
          >ESSENTIALS</span
        >
      </h1>
      <h5
        class="d-none fw-bolder d-md-block text-white m-0"
        style="line-height: 1.5"
      >
        Strategies, tools, and tips to reach your professional goals
      </h5>
      <!-- Smaller text for mobile -->
      <h1
        class="fs-4 fw-bolder d-md-none m-0"
        style="line-height: 1.2; color: var(--secondary-color) !important"
      >
        CAREER <span class="text-white">ESSENTIALS</span>
      </h1>
      <h5
        class="fw-normal d-md-none text-white m-0"
        style="line-height: 1.2; font-size: 14px!important"
      >
        Strategies, tools, and tips to reach your professional goals
      </h5>
    </div>
  </div>
</section>


<app-blogs-header></app-blogs-header>
