<div class="main">
  <div class="container first">
    <div class="row">
      <div class="col-12 col-md-6">
        <h1 class="fw-bolder" style="color: var(--primary-color);">About US</h1>
        <p class="pt-2">
          At Job4Jobless, we aim to revolutionize job searching and hiring with
          its exclusive video calling for direct communication between Job
          seekers and Job providers. From features such as ATS-friendly resume
          builder to smart resume matching and applicant lifecycle tracking,
          Job4Jobless simplifies the recruitment process, making it more
          efficient and personalized.
        </p>
        <p>
          At Job4Jobless, we aim to revolutionize job searching and hiring with
          its exclusive video calling for direct communication between Job
          seekers and Job providers. From features such as ATS-friendly resume
          builder to smart resume matching and applicant lifecycle tracking,
          Job4Jobless simplifies the recruitment process, making it more
          efficient and personalized.
        </p>
      </div>
      <div class="col-12 col-md-6">
        <img
          src="https://media.istockphoto.com/id/941329264/photo/termination-of-employment-on-an-office-desk.jpg?s=2048x2048&w=is&k=20&c=6GZNlJVj5rk4TMuEj6hTVhx97RJ4gqAggl0MnrYjj54="
          class="card-img-top border-0 p-0 h-auto"
          style="
            width: 80%;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            border-radius: 14px;
          "
          alt="..."
        />
      </div>
    </div>
  </div>
  <div class="content-2 m-0 p-0" style="background: aliceblue">
    <div class="container second mt-5">
      <div class="row pt-5 pb-2">
        <div class="col-12 col-md-6 pb-sm-2">
          <img
            src="https://media.istockphoto.com/id/941329264/photo/termination-of-employment-on-an-office-desk.jpg?s=2048x2048&w=is&k=20&c=6GZNlJVj5rk4TMuEj6hTVhx97RJ4gqAggl0MnrYjj54="
            class="card-img-top border-0 p-0 h-auto"
            style="
              width: 80%;
              box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
              border-radius: 14px;
            "
            alt="..."
          />
        </div>
        <div class="col-12 col-md-6">
          <h1 class="fw-bolder" style="color: var(--primary-color);">Mission</h1>
          <p class="pt-2">
            At Job4Jobless, our mission is to empower individuals in their
            career journeys by providing innovative solutions that simplify the
            job search process. We aim to connect job seekers with employers
            using unique features like video calling, ensuring a seamless and
            efficient experience. We are committed to fostering a community
            where finding the right candidate and landing a dream job becomes
            easier.
          </p>
          <p>
            At Job4Jobless, our mission is to empower individuals in their
            career journeys by providing innovative solutions that simplify the
            job search process. We aim to connect job seekers with employers
            using unique features like video calling, ensuring a seamless and
            efficient experience.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container third">
    <div class="row pt-5 pb-2">
      <div class="col-12 col-md-6">
        <h1 class="fw-bolder" style="color: var(--primary-color);">Vision</h1>
        <p class="pt-2">
          Our vision at Job4Jobless is to transform the recruitment landscape
          into a dynamic ecosystem that bridges the gap between job seekers and
          employers. We aspire to be the leading platform for job search
          innovation, making it easier for individuals to find meaningful work
          while enabling employers to discover top talent. By continuously
          enhancing our technology and services, we aim to redefine the future
          of work and contribute positively to the global job market.
        </p>
        <p>
          Our vision at Job4Jobless is to transform the recruitment landscape
          into a dynamic ecosystem that bridges the gap between job seekers and
          employers. We aspire to be the leading platform for job search
          innovation, making it easier for individuals to find work
        </p>
      </div>
      <div class="col-12 col-md-6">
        <img
          src="https://media.istockphoto.com/id/941329264/photo/termination-of-employment-on-an-office-desk.jpg?s=2048x2048&w=is&k=20&c=6GZNlJVj5rk4TMuEj6hTVhx97RJ4gqAggl0MnrYjj54="
          class="card-img-top border-0 p-0 h-auto"
          style="
            width: 80%;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            border-radius: 14px;
          "
          alt="..."
        />
      </div>
    </div>
  </div>
  <!-- --cards-- -->
  <div class="slide-container swiper">
    <h1 class="mt-2 fw-bolder text-center mt-3" style="color: var(--primary-color);">Values</h1>
    <app-card-carousel></app-card-carousel>
  </div>
</div>
