.btn:hover{
    background-color: rgb(189, 189, 235);
    color: white!important;
}
textarea {
    resize: none;
  }
  @media (max-width:767px){
    .cus-gap{
      gap: 1.3rem;
    }
  }
  @media (max-width:900px){
    section.resume-experience {
      margin-right: -5rem;
      margin-left: -2rem;
  }
  }