<section class="banner position-relative">
  <div
    class="banner-img position-relative d-flex align-items-center justify-content-center"
    style="
      background-image: url('https://github.com/job4jobless/Images/blob/main/Banners/Employer-bottom-banner52.jpg?raw=true');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    "
  >
    <div class="position-absolute w-100 h-100 bg-dark opacity-50"></div>
    <div class="imgsec w-100 position-relative z-1 text-white">
      <div
        class="container cus-w position-relative z-2 pt-5 pb-5"
        style="max-width: 50%"
      >
        <div class="row flex-box p-0 m-0 ">
          <!-- First column: Large on medium and up, full width on small screens -->
          <div class="col-12 col-md-8  mb-4 mb-md-0">
            <h3 class="fw-normal fs-2 fs-md-2 text-white">SIMPLIFIED</h3>
            <h1 class="fw-bold head-tag fs-1 fs-md-1" style="color: #00ffff">
              HIRING & <br />
              RECRUITMENT
            </h1>
            <h3 class="fw-normal text-white fs-2 fs-md-2">FOR EMPLOYERS</h3>
          </div>

          <!-- Second column: Small on medium and up, full width on small screens -->
          <div class="col-12 col-md-4">
            <div
              class="form-box text-center pt-4 pb-4 bg-white mx-auto mw-100 "
              style="border-radius: 13px; padding: 18px;"
            >
              <h3 class="pb-2" style="color: #1e2d5b">Post a Vacancy</h3>

              <form>
                <div class="mb-3">
                  <input
                    type="text"
                    class="form-control bg-white"
                    style="border-radius: 11px; padding: 1.2rem"
                    id="name"
                    placeholder="Contact Person Name"
                    required
                  />
                </div>
                <div class="mb-3">
                  <input
                    type="text"
                    class="form-control bg-white"
                    style="border-radius: 11px; padding: 1.2rem"
                    id="name"
                    placeholder="Company Name"
                    required
                  />
                </div>
                <div class="mb-3">
                  <input
                    type="email"
                    class="form-control bg-white"
                    style="border-radius: 11px; padding: 1.2rem"
                    id="email"
                    placeholder="Email"
                    required
                  />
                </div>
                <div class="mb-4">
                  <input
                    type="tel"
                    class="form-control bg-white"
                    style="border-radius: 11px; padding: 1.2rem"
                    id="contact"
                    placeholder="Contact"
                    required
                  />
                </div>

                <button
                  type="submit"
                  class="btn fw-bold text-center text-white w-100 mt-2"
                  style="
                    background: #1e2d5b;
                    font-size: 18px;
                    border-radius: 11px;
                    padding: 10px;
                  "
                >
                  POST JOB
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-mid-section></app-mid-section>