<section
  class="vh-100 d-flex align-items-center justify-content-center pt-2"
  style="background: var(--primary-color);"
>
  <div
    class="container box bg-white mt-2 border border-2 d-block m-auto"
    style="
      border-radius: 35px;
      max-width: 460px;
      padding: 20px;
      margin: auto !important;
    "
  >
    <div class="d-flex justify-content-center">
      <a routerlink="/" class="navbar-logo" href="/">
        <img
          src="https://raw.githubusercontent.com/suraj9594/J4J-Website-Images/main/j4j%20Header%20logo.png"
          width="200"
          class="image-thumbnail d-inline-block align-top"
        />
      </a>
    </div>

    <h3 class="text-center mt-3 mb-3">Login As Job Seeker</h3>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <!-- Email input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <input
          type="email"
          id="form1Example13"
          placeholder="Username or Email"
          class="form-control form-control-lg"
          ngModel
          required
          email
        />
        <!-- Validation message -->
        <div
          *ngIf="loginForm.submitted && !loginForm.controls['email']?.valid"
          class="text-danger"
        >
          Please enter a valid email address.
        </div>
      </div>

      <!-- Password input -->
      <div data-mdb-input-init class="form-outline mb-4 position-relative">
        <input
          [type]="isPasswordVisible ? 'text' : 'password'"
          id="form1Example23"
          placeholder="Password"
          class="form-control form-control-lg"
        />
        <button
          type="button"
          (click)="togglePasswordVisibility()"
          class="btn pass-btn position-absolute z-1 border-0 bg-transparent"
        >
          <i
            [class]="isPasswordVisible ? 'fas fa-eye-slash' : 'fas fa-eye'"
          ></i>
        </button>
      </div>

      <div class="d-flex justify-content-between align-items-center mb-4">
        <a
          href="#!"
          class="text-left m-0 text-decoration-none fs-5"
          style="color: var(--primary-color);"
          >Forgot password?</a
        >
        <button
          type="submit"
          data-mdb-button-init
          data-mdb-ripple-init
          class="btn text-white fs-5 w-25"
          style="background-color: var(--primary-color);"
        >
          Login
        </button>
      </div>

      <!-- Submit button -->
      <div class="divider d-flex align-items-center my-4">
        <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
      </div>

      <a
        data-mdb-ripple-init
        class="btn text-decoration-none btn-lg btn-block border border-2"
        href="#!"
        role="button"
      >
        <i class="fab fa-google me-2"></i>Login with Google
      </a>

      <div class="d-flex justify-content-between align-items-center mt-4">
        <a
         
          class="text-left text-decoration-none"
          style="color: var(--text-color);"
          (click)="accountCreated()"
          >Don’t have an account?</a
        >
        <a
         
          class="text-end text-decoration-none fw-bold fs- 1"
          style="color: var(--primary-color);"
          (click)="accountCreated()"
          >Create account</a
        >
      </div>
    </form>
  </div>
</section>


