.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
i.fab.fa-google {
    background: linear-gradient(90deg, #DB4437, #F4B400, #0F9D58, #4285F4);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 30px;
    vertical-align: bottom;
}
.pass-btn {
    right: 10px; 
    top: 50%;
    transform: translateY(-50%); 
    cursor: pointer;
  }
  @media (max-width: 576px) {
  .box{
    max-width: 320px !important;
  }
  button.btn {
    width: fit-content !important;
}
}