<section
  class="vh-100 d-flex align-items-center justify-content-center pt-4"
  style="background: #101a3a"
>
  <div
    class="container bg-white mt-4 border border-2"
    style="border-radius: 35px; max-width: 460px; padding: 40px"
  >
    <div class="d-flex justify-content-center">
      <img
        src="https://raw.githubusercontent.com/suraj9594/J4J-Website-Images/main/j4j%20Header%20logo.png"
        width="200"
        class="image-thumbnail d-inline-block align-top"
      />
    </div>

    <h3 class="text-center mt-5 mb-5">Login As Job Seeker</h3>
    <form>
      <!-- Email input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <input
          type="email"
          id="form1Example13"
          placeholder="Username or Email"
          class="form-control form-control-lg"
        />
      </div>

      <!-- Password input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <input
          type="password"
          id="form1Example23"
          placeholder="Password"
          class="form-control form-control-lg"
        />
      </div>

      <div class="d-flex justify-content-between align-items-center mb-4">
        <a
          href="#!"
          class="text-left m-0 text-decoration-none fs-5"
          style="color: #1e2d5b"
          >Forgot password?</a
        >
        <button
          type="submit"
          data-mdb-button-init
          data-mdb-ripple-init
          class="btn text-white fs-5 w-25"
          style="background-color: #1e2d5b"
        >
          Login
        </button>
      </div>

      <!-- Submit button -->
      <div class="divider d-flex align-items-center my-4">
        <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
      </div>

      <a
        data-mdb-ripple-init
        class="btn text-decoration-none btn-lg btn-block border border-2"
        href="#!"
        role="button"
      >
        <i class="fab fa-google me-2"></i>Login with Google
      </a>

      <div class="d-flex justify-content-between align-items-center mt-4">
        <a
          href="#!"
          class="text-left text-decoration-none"
          style="color: #2f3847"
          >Don’t have an account?</a
        >
        <a
          href="#!"
          class="text-end text-decoration-none fw-bold fs- 1"
          style="color: #1e2d5b"
          >Create account</a
        >
      </div>
    </form>
  </div>
</section>
