<div class="banner-img pb-5 position-relative w-100 h-auto">
  <img
    src="https://github.com/job4jobless/Images/blob/main/Banners/employer-banner23333234.jpg?raw=true"
    alt="Banner Image"
    class="img-fluid d-lg-flex w-100 h-auto"
  />
  <div
    class="elements position-absolute top-50  translate-middle  text-white" style="left: 29%;"
  >
    <h1 class=" fs-1 fw-bolder text-white  fs-md-2 fs-lg-3" >HIRE<br> <span style="color: var(--secondary-color);">SMARTER,<br>FASTER<br></span> WITH US.</h1>
  </div>
</div>

<app-emp-body-first></app-emp-body-first>
