
.top-50 {
  top: 25% !important;
}
@media screen and (max-width: 768px) {
  .head-tag{
    font-size: 1rem !important;
  }
  .top-50 {
    top: 40% !important;
}
.banner-img img {
  height: 200px!important;
}
}
@media screen and (max-width: 1024px) {
  .top-50 {
    top: 38% !important;
  }
}
