.carousel-indicators [data-bs-target]{
    border-radius: 50% !important;
    width: 13px;
    height: 12px;
    background-color: var(--primary-color);
  }
@media (max-width:650px){
  .cus-style{
    margin-right: 0rem!important;
    width: 100%!important;
  }
}