<div class="head-sec mt-5 mb-5">
    <h1 class="fw-bolder fs-1 text-center" style="color: var(--primary-color)">
      {{ currentHeading }}
    </h1>
    <h6 class="text-center">
      {{ currentSubtitle }}
    </h6>
  </div>

<section
  class="vertical-slider d-flex"
>
  <!-- Progress Bar and Dots -->
  <div class="progress-container">
    <!-- Step 1 -->
    <div class="step-container d-flex align-items-center mb-4">
      <div
        class="step-dot me-3"
        [ngClass]="{ active: activeStep === 1 }"
        (click)="activateStep(1)"
      ></div>
      <div class="d-flex flex-grow-1 align-items-baseline flex-wrap">
        <h2
          [ngClass]="{
            'active-heading': activeStep === 1,
            'disabled-heading': activeStep !== 1
          }"
          class="mb-2 me-5"
        >
          Header
        </h2>
        <div *ngIf="activeStep === 1" class="step-item">
          <app-resume-header></app-resume-header>
        </div>
      </div>
    </div>

    <!-- Step 2 -->
    <div class="step-container d-flex align-items-center mb-4">
      <div
        class="step-dot me-3"
        [ngClass]="{ active: activeStep === 2 }"
        (click)="activateStep(2)"
      ></div>
      <div class="d-flex flex-grow-1 align-items-center flex-wrap">
        <h2
          [ngClass]="{
            'active-heading': activeStep === 2,
            'disabled-heading': activeStep !== 2
          }"
          class="mb-2 me-5"
        >
          Experience
        </h2>
        <div *ngIf="activeStep === 2" class="step-item">
          <app-resume-experience></app-resume-experience>
        </div>
      </div>
    </div>

    <!-- Step 3 -->
    <div class="step-container d-flex align-items-center mb-4">
      <div
        class="step-dot me-3"
        [ngClass]="{ active: activeStep === 3 }"
        (click)="activateStep(3)"
      ></div>
      <div class="d-flex flex-grow-1 align-items-center flex-wrap">
        <h2
          [ngClass]="{
            'active-heading': activeStep === 3,
            'disabled-heading': activeStep !== 3
          }"
          class="mb-2 me-5"
        >
          Education
        </h2>
        <div *ngIf="activeStep === 3" class="step-item">
          <app-resume-education></app-resume-education>
        </div>
      </div>
    </div>

    <!-- Step 4 -->
    <div class="step-container d-flex align-items-center mb-4">
      <div
        class="step-dot me-3"
        [ngClass]="{ active: activeStep === 4 }"
        (click)="activateStep(4)"
      ></div>
      <div class="d-flex flex-grow-1 align-items-center flex-wrap">
        <h2
          [ngClass]="{
            'active-heading': activeStep === 4,
            'disabled-heading': activeStep !== 4
          }"
          class="mb-2 me-5"
        >
          Skills
        </h2>
        <div *ngIf="activeStep === 4" class="step-item">
          <app-resume-skills></app-resume-skills>
        </div>
      </div>
    </div>

    <!-- Step 5 -->
    <div class="step-container d-flex align-items-center mb-4">
      <div
        class="step-dot me-3"
        [ngClass]="{ active: activeStep === 5 }"
        (click)="activateStep(5)"
      ></div>
      <div class="d-flex flex-grow-1 align-items-center flex-wrap">
        <h2
          [ngClass]="{
            'active-heading': activeStep === 5,
            'disabled-heading': activeStep !== 5
          }"
          class="mb-2 me-5"
        >
          Summary
        </h2>
        <div *ngIf="activeStep === 5" class="step-item">
          <app-resume-summary></app-resume-summary>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <app-create-job-post></app-create-job-post> -->
