<main class="searchbox">
  <div class="fxt-txt text-center mt-3 box p-3">
    <h1 class="m-0 mb-5 mt-4 fw-bolder" style="color: var(--primary-color);">
      Explore The Right Career Path
    </h1>
    <h4 class="mb-3 fw-bolder" style="font-size: 33px">Our Features</h4>
  </div>

  <!-- --grid-- -->
  <div
    class="container custom-padding"
    style="padding-left: 4.5rem; padding-right: 11rem"
  >
    <div class="row">
      <!-- Left Column (8/12 on md and larger screens, full width on smaller screens) -->
      <div class="col-12 col-md-8">
        <div class="row">
          <div class="col-12">
            <div
              class="card mb-4 card-large"
              style="
                padding: 0;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                border: none;
              "
            >
              <img
                src="https://github.com/job4jobless/Images/blob/main/Temperory/Video%20Calling.png?raw=true"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body text-center">
                <a
                  href="#"
                  class="btn btn-color pb-0"
                  style="background-color: var(--primary-color); color: white"
                  ><h5>Video Calling</h5></a
                >
                <p class="card-text pt-3">
                  Making interviews more convenient with direct end-to-end video
                  calls.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Right Column (4/12 on md and larger screens, full width on smaller screens) -->
      <div class="col-12 col-md-4">
        <div
          class="card cus-w mb-2"
          style="
            width: 125%;
            padding: 0;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            border: none;
          "
        >
          <!-- Adjust mb-2 for smaller gap -->
          <img
            src="https://github.com/job4jobless/Images/blob/main/Temperory/About%20us.png?raw=true"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body text-center">
            <a
              href="#"
              class="btn btn-color pb-0"
              style="background-color: var(--primary-color); color: white"
              ><h5>About Us</h5></a
            >
            <p class="card-text pt-3">
              Get customizable job alerts and never miss out on the right
              opportunity.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Second Row -->
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="row">
          <div class="col-md-4 mb-4">
            <div
              class="card card-small"
              style="
                padding: 0;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                border: none;
              "
            >
              <img
                src="https://github.com/job4jobless/Images/blob/main/image/2.jpg?raw=true"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body text-center">
                <a
                  href="#"
                  class="btn btn-color pb-0"
                  style="background-color: var(--primary-color); color: white"
                  ><h5>Create Resume</h5></a
                >
                <p class="card-text pt-3">
                  Easily create or update your ATS-friendly resume in just a few
                  clicks.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div
              class="card card-small"
              style="
                padding: 0;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                border: none;
              "
            >
              <img
                src="https://github.com/job4jobless/Images/blob/main/image/download-applicant-details-4.jpg?raw=true"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body text-center">
                <a
                  href="#"
                  class="btn btn-color pb-0"
                  style="background-color: var(--primary-color); color: white"
                  ><h5>Job Search</h5></a
                >
                <p class="card-text pt-3">
                  Simplify your job search with our efficient and streamlined
                  platform.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div
              class="card card-small"
              style="
                padding: 0;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                border: none;
              "
            >
              <img
                src="https://github.com/job4jobless/Images/blob/main/Temperory/Blogs.png?raw=true"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body text-center">
                <a
                  href="#"
                  class="btn btn-color pb-0"
                  style="background-color: var(--primary-color); color: white"
                  ><h5>Blogs</h5></a
                >
                <p class="card-text pt-3">
                  Contribute to the professional community by sharing blogs or
                  articles.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Additional Card in Right Column -->
      <div class="col-12 cus-m col-md-4" style="margin-top: -9.4rem">
        <div
          class="card cus-w mt-2"
          style="
            width: 125%;
            padding: 0;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            border: none;
          "
        >
          <!-- Adjust mt-2 for smaller gap -->
          <img
            src="https://github.com/job4jobless/Images/blob/main/Temperory/personalised%20alerts.png?raw=true"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body pt-3" style="text-align: center">
            <a
              href="#"
              class="btn btn-color pb-0"
              style="background-color: var(--primary-color); color: white"
              ><h5>Personalized Alerts</h5></a
            >
            <p class="card-text pt-3">
              Get customizable job alerts and never miss out on the right
              opportunity.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
