
 .card {
   padding: 0;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   border: none;
 }
 .card-body {
   margin-top: -2rem;
   text-align: center;
 }
 .btn-color {
   background-color: #1E2D5B;
   color: white;
 } 
@media (max-width: 1024px) {
  .cus-w {
   width: 100% !important;
  }
  .card, .card-small {
    aspect-ratio: 0!important; 
    height: auto;
  }
}
@media screen and (max-width: 1600px) {
  .cus-m{
    margin-top: -5rem!important;
   }
   .cus-w {
    width: 100% !important;
   }
}
@media (max-width: 768px) {
  .cus-m{
   margin-top: -1rem!important;
  }
 }