
 .card-body {
   margin-top: -2rem;
 } 
 @media (max-width: 1024px) {
  .cus-w {
   width: 100% !important;
  }
  .custom-padding{
    padding-left: 1rem!important;
    padding-right: 0rem!important;
  }
  .card, .card-small {
    aspect-ratio: 0!important; 
    height: auto;
  }
}
@media screen and (max-width: 1600px) {
  .cus-m{
    margin-top: -4rem!important;
   }
   .cus-w {
    width: 100% !important;
   }
}
@media (max-width: 768px) {
  .cus-m{
   margin-top: -2rem!important;
  }
 }
 