.app-create-job-post {
    position: absolute;
    top: 50px;  /* Adjust as needed to align with the first circle */
    left: 200px;  /* Adjust the left position based on where you want the job post */
  }
@media (max-width:600px){
    .content-container {
        width: 80%!important;
    }
}