@media (max-width: 768px) {
    .row-w{
        width: 
        100%!important;
    }
    .card {
        aspect-ratio: 2/ 2.5!important;
    }
}
@media (max-width: 567px) {
    .row-w div{
        width: 
        100%!important;
    }
    .card {
        aspect-ratio: auto!important;
    }
}