<section>
  <div class="content">
    <h1 class="text-center fw-bold">
      Hiring Solutions Designed for High-Impact <br />
      Teams Building
    </h1>
  </div>

  <div class="container d-flex justify-content-center">
    <div class="row row-w mt-3" style="width: 60%">
      <div class="col-6 col-md-6 first mt-3 ">
        <div class="card border-0" style="background: #ebf3fe">
          <img
            src="https://media.istockphoto.com/id/941329264/photo/termination-of-employment-on-an-office-desk.jpg?s=2048x2048&w=is&k=20&c=6GZNlJVj5rk4TMuEj6hTVhx97RJ4gqAggl0MnrYjj54="
            class="card-img-top w-100"
            alt="..."
            style="height: 200px; object-fit: cover"
          />
          <div class="card-body text-center ">
            <h4 class="text-center">Create Job Post</h4>
            <p class="card-text pt-4">
              Post job vacancies with essential details to attract top
              candidates.
            </p>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-6 second mt-3 ">
        <div class="card border-0" style="background: #fff4e6">
          <img
            src="https://media.istockphoto.com/id/941329264/photo/termination-of-employment-on-an-office-desk.jpg?s=2048x2048&w=is&k=20&c=6GZNlJVj5rk4TMuEj6hTVhx97RJ4gqAggl0MnrYjj54="
            class="card-img-top w-100"
            alt="..."
            style="height: 200px; object-fit: cover"
          />
          <div class="card-body text-center ">
            <h4 class="text-center">Video Call Interview</h4>
            <p class="card-text pt-4">
              Conduct interviews with applicants using our video-calling
              feature.
            </p>
          </div>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col-6 col-md-6 third mt-3 ">
        <div class="card border-0" style="background: #ceffe9">
          <img
            src="https://media.istockphoto.com/id/941329264/photo/termination-of-employment-on-an-office-desk.jpg?s=2048x2048&w=is&k=20&c=6GZNlJVj5rk4TMuEj6hTVhx97RJ4gqAggl0MnrYjj54="
            class="card-img-top w-100"
            alt="..."
            style="height: 200px; object-fit: cover"
          />
          <div class="card-body text-center">
            <h4 class="text-center">Download Applicant Details</h4>
            <p class="card-text pt-4">
              Download and review applicant details and access them offline
              easily.
            </p>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-6 fourth mt-3 ">
        <div class="card border-0" style="background: #ffe6e6">
          <img
            src="https://media.istockphoto.com/id/941329264/photo/termination-of-employment-on-an-office-desk.jpg?s=2048x2048&w=is&k=20&c=6GZNlJVj5rk4TMuEj6hTVhx97RJ4gqAggl0MnrYjj54="
            class="card-img-top w-100"
            alt="..."
            style="height: 200px; object-fit: cover"
          />
          <div class="card-body text-center ">
            <h4 class="text-center">Track Applicant Journey</h4>
            <p class="card-text pt-4">
              Monitor applicant's progress in hiring process with real-time
              updates.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-emp-body-second></app-emp-body-second>
