<section class="mid-sec mt-5">
  <div class="container first">
    <div class="row">
      <div class="col-12 col-md-6 mt-5">
        <h1 class="fw-bold" style="color: #1e2d5b">
          Video <br />
          Calling
        </h1>
        <h3 class="pt-2">Connect Directly, Hire Effortlessly!</h3>
        <p class="pt-3">
          Conduct seamless video interviews directly on Job4Jobless and connect
          with candidates effectively, no other meeting apps are required.
        </p>
      </div>
      <div class="col-12 col-md-6">
        <img
          src="https://media.istockphoto.com/id/941329264/photo/termination-of-employment-on-an-office-desk.jpg?s=2048x2048&w=is&k=20&c=6GZNlJVj5rk4TMuEj6hTVhx97RJ4gqAggl0MnrYjj54="
          class="card-img-top border-0 p-0 h-auto"
          style="
            width: 80%;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            border-radius: 14px;
          "
          alt="..."
        />
      </div>
    </div>
  </div>
  <div class="content-2 m-0 p-0" style="background: aliceblue">
    <div class="container second mt-5">
      <div class="row pt-5 pb-2">
        <div class="col-12 col-md-6 pb-sm-2">
          <img
            src="https://media.istockphoto.com/id/941329264/photo/termination-of-employment-on-an-office-desk.jpg?s=2048x2048&w=is&k=20&c=6GZNlJVj5rk4TMuEj6hTVhx97RJ4gqAggl0MnrYjj54="
            class="card-img-top border-0 p-0 h-auto"
            style="
              width: 80%;
              box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
              border-radius: 14px;
            "
            alt="..."
          />
        </div>
        <div class="col-12 col-md-6 mt-5">
          <h1 class="fw-bold" style="color: var(--primary-color);">
            Mobile <br />
            Accessibility
          </h1>
          <h3 class="pt-2">Recruit Anytime, Anywhere!</h3>
          <div
          class="pt-3 cus-indent"
          style="text-align: center; text-indent: 1rem; margin-left: -2rem">
          <p class="">
            Access the platform anytime, anywhere with mobile functionality,
            enabling you to manage your recruitment efforts and connect with
            candidates on the move.
          </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container third">
    <div class="row pt-5 pb-2">
      <div class="col-12 col-md-6 mt-5">
        <h1 class="fw-bold" style="color: var(--primary-color);">
          Resume <br />
          Filtering
        </h1>
        <h3 class="pt-2">Efficient Filtering, Swift Hiring!</h3>
        <p class="pt-3">
          Access the platform anytime, anywhere with mobile functionality,
          enabling you to manage your recruitment efforts and connect with
          candidates on the move.
        </p>
      </div>
      <div class="col-12 col-md-6">
        <img
          src="https://media.istockphoto.com/id/941329264/photo/termination-of-employment-on-an-office-desk.jpg?s=2048x2048&w=is&k=20&c=6GZNlJVj5rk4TMuEj6hTVhx97RJ4gqAggl0MnrYjj54="
          class="card-img-top border-0 p-0 h-auto"
          style="
            width: 80%;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            border-radius: 14px;
          "
          alt="..."
        />
      </div>
    </div>
  </div>

  <div class="content-2 m-0 p-0" style="background: aliceblue">
    <div class="container fourth mt-5">
      <div class="row pt-5 pb-2">
        <div class="col-12 col-md-6 pb-sm-2">
          <img
            src="https://media.istockphoto.com/id/941329264/photo/termination-of-employment-on-an-office-desk.jpg?s=2048x2048&w=is&k=20&c=6GZNlJVj5rk4TMuEj6hTVhx97RJ4gqAggl0MnrYjj54="
            class="card-img-top border-0 p-0 h-auto"
            style="
              width: 80%;
              box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
              border-radius: 14px;
            "
            alt="..."
          />
        </div>
        <div class="col-12 col-md-6 mt-5">
          <h1 class="fw-bold" style="color: var(--primary-color);">
            Customizable <br />
            Job Listings
          </h1>
          <h3 class="pt-2">Your Job Listings, Your Way!</h3>
          <div
            class="pt-3 cus-indent"
            style="text-align: center; text-indent: 1rem; margin-left: -2rem">
            <p class="">
              Create customized job postings that highlight your company culture
              and attract the right talent, ensuring your listings stand out in
              a crowded job market.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container fifth">
    <div class="row pt-5 pb-2">
      <div class="col-12 col-md-6 mt-5">
        <h1 class="fw-bold" style="color: var(--primary-color);">
          Interview Scheduling <br />
        </h1>
        <h3 class="pt-2">Set It and Forget It!</h3>
        <p class="pt-3">
          Simplify interview scheduling with automated tools that sync
          calendars, allowing candidates and hiring managers to find convenient
          times effortlessly.
        </p>
      </div>
      <div class="col-12 col-md-6">
        <img
          src="https://media.istockphoto.com/id/941329264/photo/termination-of-employment-on-an-office-desk.jpg?s=2048x2048&w=is&k=20&c=6GZNlJVj5rk4TMuEj6hTVhx97RJ4gqAggl0MnrYjj54="
          class="card-img-top border-0 p-0 h-auto"
          style="
            width: 80%;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            border-radius: 14px;
          "
          alt="..."
        />
      </div>
    </div>
  </div>
</section>
<app-bottom-banner></app-bottom-banner>
