@media (max-width: 500px) {
    .content-1 {
        margin-left: 0rem!important;
    }
}
@media (min-width: 768px) and (max-width: 1440px) {
    .content-1 {
        margin-left: -1rem!important;
    }
}
@media (min-width: 500px) and (max-width: 630px) {
    .content-1 {
        margin-left: 0rem!important;
    }
}