<section class="bottom-sec">
    <div
  class="imgsec mw-100 mh-100 mt-5 pb-5"
  style="border-bottom: 1px solid var(--background-color);"
>
  <div class="container">
    <div class="row row-1 d-flex align-items-center">
      <div class="col-12 col-md-8 content-1" style="margin-left: -4rem">
        <!-- Increased space for the first column -->
        <div class="flex-box">
          <div class="box-1">
            <h3 class="fw-bolder" style="line-height: 1">GET REAL TIME</h3>
            <h1 class="fw-bolder" style="color: var(--primary-color); line-height: 1">
              Job UPDATES & NEW JOB
            </h1>
            <h3 class="fw-bolder" style="line-height: 1">NOTIFICATIONS!</h3>
          </div>
          <div class="box-2" style="margin-top: 5rem">
            <h4 style="color: #ced4da !important">Download App On</h4>
            <img
              src="https://raw.githubusercontent.com/job4jobless/Images/refs/heads/main/Banners/Download_on_the_App_Store_Badge.svg.webp"
              alt=""
              class="w-25 h-auto"
            />
            <img
              src="https://raw.githubusercontent.com/job4jobless/Images/refs/heads/main/Banners/Google_P.webp"
              alt=""
              class="w-25 h-auto"
            />
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 content-2">
        <!-- Reduced space for the second column -->
        <img
          src="https://github.com/job4jobless/Images/blob/main/Banners/mockup2.png?raw=true"
          alt=""
          class="w-100 h-auto"
        />
      </div>
    </div>
  </div>
</div>
</section>

