<section class="vertical-slider d-flex" style="background: var(--background-color);">
  <!-- Progress Bar and Dots -->
  <div class="progress-container">
    <!-- Step 1 -->
    <div class="step-container">
      <div
        class="step-dot"
        [ngClass]="{ active: activeStep === 1 }"
        (click)="activateStep(1)"
      ></div>
      <h2
        [ngClass]="{ 'active-heading': activeStep === 1, 'disabled-heading': activeStep !== 1 }"
      >
        Create a Job Post
      </h2>
      <div *ngIf="activeStep === 1" class="step-item">
        <app-create-job-post></app-create-job-post>
      </div>
    </div>

    <!-- Step 2 -->
    <div class="step-container">
      <div
        class="step-dot"
        [ngClass]="{ active: activeStep === 2 }"
        (click)="activateStep(2)"
      ></div>
      <h2
        [ngClass]="{ 'active-heading': activeStep === 2, 'disabled-heading': activeStep !== 2 }"
      >
        Job Details
      </h2>
      <div *ngIf="activeStep === 2" class="step-item">
        <app-job-details></app-job-details>
      </div>
    </div>

    <!-- Step 3 -->
    <div class="step-container">
      <div
        class="step-dot"
        [ngClass]="{ active: activeStep === 3 }"
        (click)="activateStep(3)"
      ></div>
      <h2
        [ngClass]="{ 'active-heading': activeStep === 3, 'disabled-heading': activeStep !== 3 }"
      >
        Review your Job Post
      </h2>
      <div *ngIf="activeStep === 3" class="step-item">
        <app-review-job-post></app-review-job-post>
      </div>
    </div>
  </div>
</section>




<!-- <app-create-job-post></app-create-job-post> -->
