
/* .carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: block;
}
.carousel-item {
  transition: transform .1s ease-in-out;
}
.carousel-item .row {
  display: flex;
  flex-wrap: nowrap;
}
@media (max-width: 767px) {
  .carousel-item .col-12 {
    width: 100%;
  }

  .carousel{
    width: 70%!important;
  }
  .carousel-item {
    transition: transform .6s ease-in-out;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .card.bg-white.border-0 {
    aspect-ratio: 2 / 3.2 !important;
    height: 100%;
}
.carousel{
  width: 80%!important;
}
} */


