.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active {
    background: var(--primary-color);
    color: white!important;
}
.btn:hover {
    background: var(--primary-color);
    color: white!important;
}
@media (max-width:600px) {
    section.advice-career {
        padding: 1rem!important;
        padding-left: 1rem!important;
    }
    .cus-gap{
        gap: 12px!important;
    }
}