<section
  class="advice-career"
  style="
    background-color: var(--background-color);
    padding: 3rem;
    padding-left: 10rem;
  "
>
  <div class="container bg-white my-4" style="padding: 1.5rem">
    <div class="position-relative" style="width: 100%; height: 400px">
      <!-- Background Image -->
      <img
        src="https://github.com/job4jobless/Images/blob/main/Banners/Employer-bottom-banner52.jpg?raw=true						"
        alt="Career Objective"
        class="img-fluid w-100 h-100"
        style="object-fit: cover"  
      />

      <!-- Text Over Image -->
      <div
        class="position-absolute top-50 start-0 translate-middle-y text-white px-3"
      >
        <h3 class="m-0 fs-1" style="color: var(--secondary-color)">
          Career <Br /> Objective
        </h3>
      </div>
    </div>
    <!-- ----text-content----- -->
    <div class="top-content mt-5">
      <h4 class="mb-3 fw-bolder">Career Objective for Teacher Resume</h4>
      <p>
        There are many variations of passages of Lorem Ipsum available, but the
        majority have suffered alteration in some form, by injected humour, or
        randomised words which don't look even slightly believable. If you are
        going to use a passage of Lorem Ipsum, you need to be sure there isn't
        anything embarrassing hidden in the middle of text.
      </p>
      <p class="">
        All the Lorem Ipsum generators on the Internet tend to repeat predefined
        chunks as necessary, making this the first true generator on the
        Internet. It uses a dictionary of over 200 Latin words, combined with a
        handful of model sentence structures, to generate Lorem Ipsum which
        looks reasonable. The generated Lorem Ipsum is therefore always free
        from repetition, injected humour, or non-characteristic words etc.
      </p>
    </div>
    <!-- ---------------- -->
    <div class="top-content mt-5">
      <h4 class="mb-3 fw-bolder">
        Why Include a Career Objective on a Teacher’s Resume
      </h4>
      <p>
        In any resume, a common career objective or profile summary is a must,
        and the same goes for a teacher’s resume as well. Let’s understand why
        it is important to have a career objective section on a teacher’s
        resume:
      </p>
      <ul class="un-ordered-list" style="padding-left: 1rem;">
        <li>
          It highlights your teaching philosophy. Here, you can express your
          approach to teaching and learning.
        </li>
        <li>
          It gives a quick summary of key skills and qualifications that make
          you suitable for the job.
        </li>
        <li>
          It grabs the attention of the recruiter and sets the tone for the rest
          of your resume.
        </li>
      </ul>
    </div>
    <!-- --------------------- -->
    <div class="top-content mt-5">
      <h4 class="mb-3 fw-bolder">
        Tips for Writing an Effective Career Objective
      </h4>
      <p>
        While writing your career objective for teaching, follow this format:
      </p>
      <ol class="ordered-list" style="padding-left: 1rem;">
        <li>
          It highlights your teaching philosophy. Here, you can express your
          approach to teaching and learning.
        </li>
        <li>
          It gives a quick summary of key skills and qualifications that make
          you suitable for the job.
        </li>
        <li>
          It grabs the attention of the recruiter and sets the tone for the rest
          of your resume.
        </li>
      </ol>
    </div>
    <!-- --------------------- -->
    <div class="top-content mt-5">
      <h4 class="mb-3 fw-bolder">Conclusion</h4>
      <p>
        Remember, as a teacher, your suitability and enthusiasm should reflect
        through your career objective in your resume as it’s the first thing the
        recruiters will see and understand about your relevant skills,
        qualifications, and experiences, and most importantly your dedication
        and commitment towards your students. Hence, follow these examples and
        tips to make the best of your job application.
      </p>
    </div>
  </div>
<!-- --------------shared-section
 -------------------- -->
</section>
                                                                                                                                                                                   