a.list-group-item.list-group-item-action{
    background-color: transparent ; 
    color: white;
}
/* Hover Effect */
a.list-group-item.list-group-item-action:hover {
    background-color: white;
    border-radius: 14px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    color: var(--primary-color)!important;
    padding: 6px !important
  }
/* Ensure the icon inherits hover styles */
a.list-group-item.list-group-item-action:hover i {
    color: var(--primary-color) !important;
}
.cus-class{
    padding-right: 0rem!important;
}
@media (max-width:600px){
    .card{
        width: fit-content!important;
        margin-bottom: 6rem !important;
    }
    .card-text{
        padding: 1rem !important;
    }
    .container-fluid{
        padding: 0rem;
    }
    .card-data{
        padding: 0rem!important;
    }
    .cus-flex{
        flex-wrap: wrap;
        gap: 7px;
    }
    .cus-border{
        border-top-right-radius: 8px!important;
        border-bottom-right-radius: 8px!important;
        border-right: 1px solid #dee2e6!important;
    }
}
