/* You can add global styles to this file, and also import other style files */
*{
    padding: 0 rem;
    box-sizing: border-box;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    color: #2F3847;
}
body.login-page app-header,
body.login-page app-footer {
  display: none;
}