<main>
  <div class="fxt-txt text-center mt-lg-5 box p-3">
    <h1 class="m-0">
      Unlock the Tools and Information <br />
      <span class="txtElemet">Your Need for your Next Jobs </span>
    </h1>
  </div>

  <!-- <div
    class="feature d-flex flex-wrap justify-content-center align-items-lg-start pt-4 pb-4 gap-5"
  >
    <div class="col text" style="max-width: 50%">
      <p class="">
        At Job 4 Jobless, we're dedicated to helping you uncover the perfect job
        for your career aspirations. While other job platforms may only display
        job listings, we are committed to helping you understand how each
        opportunity aligns with your long-term career goals. Every job seeker
        deserves access to comprehensive career information to make informed
        decisions about their professional journey.
      </p>
    </div>
    <div class="txt-para">
      <p class="">
        Discover
        <span>
          Your <br />
          Dream
        </span>
        Career
      </p>
    </div>
  </div> -->

  <div
    class="content"
    style="max-width: 100%; height: fit-content; background-color: #ebf1f7"
  >
    <div class="container pt-4 pb-4">
      <div class="row">
        <div class="col-12 col-md-6">
          <p class="col text">
            At Job 4 Jobless, we're dedicated to helping you uncover the perfect
            job for your career aspirations. While other job platforms may only
            display job listings, we are committed to helping you understand how
            each opportunity aligns with your long-term career goals. Every job
            seeker deserves access to comprehensive career information to make
            informed decisions about their professional journey.
          </p>
        </div>
        <div class="col-12 col-md-6">
          <p class="txt-para">
            Discover
            <span>
              Your <br />
              Dream
            </span>
            Career
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
<div class="imgsec mt-5 pb-5">
  <div class="container">
    <div class="row row-1 d-flex align-items-center ">
        <div class="col-12 col-md-8 content-1"> <!-- Increased space for the first column -->
            <div class="flex-box">
                <div class="box-1">
                    <h3>GET REAL TIME</h3>
                    <h1 class="">Job UPDATES & NEW JOB</h1>
                    <h3>NOTIFICATIONS!</h3>
                </div>
                <div class="box-2">
                    <h4>Download App On</h4>
                    <img
                        src="https://raw.githubusercontent.com/job4jobless/Images/refs/heads/main/Banners/Download_on_the_App_Store_Badge.svg.webp"
                        alt=""
                        class="w-25"
                    />
                    <img
                        src="https://raw.githubusercontent.com/job4jobless/Images/refs/heads/main/Banners/Google_P.webp"
                        alt=""
                        class="w-25"
                    />
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 content-2"> <!-- Reduced space for the second column -->
            <img
                src="https://github.com/job4jobless/Images/blob/main/Banners/mockup2.png?raw=true"
                alt="" class="w-100"
            />
        </div>
    </div>
</div>


  <!-- <img
    src="https://raw.githubusercontent.com/job4jobless/Images/refs/heads/main/Banners/Landing-page-banner.jpg"
    alt=""
  /> -->
</div>
