@media (max-width: 576px) {
    img.img-fluid.w-100 {
        min-height: 15vh;
        object-fit: cover;
    }
    .cus-flex{
        flex-wrap: wrap;
        gap: 12px;
    }
    .cus-border-left{
        border-top-left-radius: 5px!important;
        border-bottom-left-radius: 5px!important;
        margin: auto;
    }
    .cus-border{
        border-right: 1px solid #e4e0e0 !important;
        border-top-right-radius: 5px!important;
        border-bottom-right-radius: 5px!important;
    }
    }
@media (max-width:990px){
    .cus-font-1{
        font-size: 2rem!important;
    }
}